---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignOperands: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    BeforeLambdaBody: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
CompactNamespaces: false
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
Language: Cpp
SortIncludes: true
SpaceAfterCStyleCast: true
Standard: Cpp11
UseTab: Never
NamespaceIndentation: All
FixNamespaceComments: false
PointerAlignment: Left

...
